.layout-search {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout-search-header {
  flex: none;
}

.layout-search-list {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.header-title {
  padding: 0.7rem 0 0.9rem 0.5rem;
  border-bottom: 1px solid var(--color-border);
}

.header-title--primary {
  font-weight: 700;
  font-size: 1.35rem;
  text-align: left;
  font-family: "Merriweather", "Times New Roman", Times, serif;
  letter-spacing: 0.04em;
}
