.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  align-items: start;
  justify-items: start;
  max-width: 36rem;
  padding: 0.5rem 1rem 1.8rem 0;
}

.inputFull {
  width: 100%;
  min-width: 8rem;
}
