.layout-container {
  height: 100%;
}

.layout-split {
  display: flex;
  height: 100%;
  gap: 1.2rem;
}

.layout-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}
