.layoutTitle {
  text-align: left;
  font-weight: 700;
  font-size: 1.35rem;
  padding: 0.7em 0 0.9em 0.5em;
  color: #f3f4f6;
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
  letter-spacing: 0.04em;
  background: #4b5563;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
}

.layoutRoot {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
}

.layoutHeader {
  flex: 1;
}

.layoutMain {
  flex: 9;
  overflow: auto;
}