.spinner-wrapper {
  display: block;
  padding: 2.5rem 0 2.5rem 1.5rem;
}

.spinner {
  width: 3rem;
  height: 3rem;
  border: 0.375rem solid #e0e0e0;
  border-top: 0.375rem solid var(--color-spinner);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
